/* Bordered form */
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&display=swap');

.registerPage {
    border: 3px solid #f1f1f1;
    border-radius: 6%;
    width:90%;
    margin:auto;
    color:white;
    background-color: #F3A633;
    font-size:15px;
    margin-top: 50px;
    font-family: 'Indie Flower', cursive;
  }
  b{
    font-size: 1.5rem;
  }
  /* Full-width inputs */
  .registerContainer > input[type=text], .registerContainer> input[type=password] {
    width: 100%;
    height: 3rem;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  
  /* Add a hover effect for buttons */
  #root > form:nth-child(3) > div:nth-child(2) > button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 10px 0 0px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 10rem;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .registerContainer {
    padding: 0px 16px 16px 16px;
    background-color:'#f1f1f1'
  }
  
