@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body{
background-color: #A1DCE4; 

}
/* .quizPage{
  background-color: #F3A633; 
  } */
  

.home-title{
font-size: 4rem;
margin-top: 1.5rem;
margin-bottom: 0.8rem;
text-align: center;
font-family: 'Modak', cursive;
color: #F3A633;
font-weight:100;
}

.btn-container{
margin: 5rem 0 3.8rem 0;
display: flex;
flex-direction: column;
}
.dog-img{
width: 9rem;
margin-bottom: 0rem;
transition: all 0.5s;
}
.dog-img:hover{
transform: scale(1.5);

}


.cat-img{
width: 9rem;
margin-bottom: 0rem;

transition: all 0.5s;
}

.cat-img:hover{
transform: scale(1.5);
}

.links-to{
text-decoration: none;
}


.list-btn{
padding: 1rem;
font-size: 1.5rem;
padding: 1rem;

display: inline-block;
font-size: 3rem;
list-style-type: none;
text-decoration: none;
font-family: 'Indie Flower', cursive;
}

.footer{
display: flex;

}

a{
text-align: center;  
}


.footer{
display: flex;
flex-direction: column;
margin-top: 4rem;
}
.foot-item{
margin-bottom: 0.2rem;
font-size: 2rem;
width: 100vw;
height: 8vh;
list-style-type: none;
text-decoration: none;
font-family: 'Indie Flower', cursive;

}

.first{
    background-color: #F3A633;
    position: relative;
    line-height: 8vh; 
   color:#6D6A62;
   font-weight: bolder;
}

.second{
    background-color: #6D6A62;
    position: relative;
    line-height: 8vh; 
    color: #EB5EA9; 
    font-weight: bolder;
}

.third{
    background-color: #EB5EA9;
    position: relative;
    line-height: 8vh;
    color: #ee9b00;
    font-weight: bolder;
    
}

.first:hover {background-color:#ffd60a  }

.first:active {
  background-color: #ee9b00 ;
  box-shadow: 0 5px #eae2b7;
  transform: translateY(6px);
}

.second:hover {background-color:#979dac  }

.second:active {
  background-color: #7d8597 ;
  /* box-shadow: 0 5px #eae2b7; */
  transform: translateY(6px);
}

.third:hover {background-color:#ff8fab }

.third:active {
  background-color: #ff8fab ;
  /* box-shadow: 0 5px #eae2b7; */
  transform: translateY(6px);
}

.homeBtns {
  padding-inline-start: 0px;

}