body{
    background-color: #A1DCE4; 
}
.dog-img{
width: 26rem;
margin-top: 8rem;
}


.cat-img{
width: 26rem;
margin-top: 8rem;
}



.home-title{
font-size: 4rem;
text-align: center;
margin-top: 10rem;
margin-bottom: 4rem;
}

ul{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}

.list-btn{

display: inline-block;
font-size: 5rem;
list-style-type: none;
text-decoration: none;
margin: 2rem 2rem;
text-align: center;


}

