@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body{
background-color: #A1DCE4; 
padding: 2rem;
}

.home-title{
font-size: 3rem;
text-align: center;
font-family: 'Modak', cursive;
color: #F3A633;
}
.btn-container{
display: flex;
flex-direction: row;
}
.dog-img{
width: 6rem;
transition: all 0.5s;
}
.dog-img:hover{
transform: scale(1.5);

}


.cat-img{
width: 6.5rem;

transition: all 0.5s;
}

.cat-img:hover{
transform: scale(1.5);
}




ul{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}

.list-btn{

display: inline-block;
font-size: 3rem;
list-style-type: none;
text-decoration: none;
text-align: center;


}

.footer{


}

a{
text-align: center;  
}