[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
pillow = "*"
django-nose = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest ."
coverage = "pytest . --cov-report term-missing --cov=."
