.res-sphereGreen {
    font-size: large;
    border:1px solid #04aa6d;
    width: 50%;
    margin: auto;
    border-radius: 2rem;
    background-color: #04aa6d;
    color:white;
    box-shadow: 3px 3px 8px 2px #888888;

}

.res-sphereYellow {
    font-size: large;
    border:1px solid #ff7a06;
    width: 50%;
    margin: auto;
    border-radius: 2rem;
    background-color: #ff7a06;
    color:white;
    box-shadow: 3px 3px 8px 2px #888888;

}

.res-sphereRed {
    font-size: large;
    border:1px solid #f20a0a;
    width: 50%;
    margin: auto;
    border-radius: 2rem;
    background-color: #f20a0a;
    color:white;
    box-shadow: 3px 3px 8px 2px #888888;

}