@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Indie+Flower&display=swap');


/* body {
    background-color: #F3A633;
} */
.questions-grid{
height: 100vh;
width: 100vw;
background-color: #F3A633;
}

.questions{

text-align: center;
padding: 4rem 1rem 2rem 1rem;


font-size: 2rem;

}
*, *::after, *::before{
box-sizing: border-box;   
}

.answers-grid{
width: 100vw;
display: flex;
align-items: center;
justify-content: center;

}


.answers-show{
width:fit-content;
margin: 0 auto;
/* display: flex;
flex-direction: column;
justify-content: center;
text-align: center; */
}


select{
height: 3.5rem;
width:18rem;
text-align: center;
margin-bottom: 2rem;
outline: none;
border-radius: 5px;
font-size: 1.5rem;
font-family: 'Indie Flower', cursive;

}
option:nth-child(1), option:nth-child(4) {
font-weight:bold;
color: green;
}

single-opt{
text-align: center;
background-color: green;
margin-bottom: 4rem;



}
.next-question{
display: block;
background-color: #EB5EA9;
text-align: center;
padding: 0.2rem;
width: 11rem;
height: 3.5rem;
border-radius: 0.5rem;
font-family: 'Indie Flower', cursive;
font-size: 1.5rem;
transition-duration: 0.4s;
    color: #3A3A3A;;
}
/* .next-question:hover {
    transition-duration: 0.1s;
    background-color: #ffafcc;
} */


  
.img-container{
width: 80vw;
height: 35vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;

}
.little-cat-img{
width: 10rem;
}